$darkGray: #4f6570;

@media only screen and (min-height: 1600px) and (min-width: 2200px) {
    .container {
        padding: 45px;
        height: 75%;
        width: 75%;
        font-size: 2em;

        .location {
            input.city {
                width: 650px;
                font-size: 60px;
                margin-bottom: 30px;
            }
        }

        .unitSwitch {
            top: 45px;
        }
    }

}

@media only screen and (min-height: 2100px) and (min-width: 3200px) {
    .container {
        font-size: 2.5em;

        .location {
            input.city {
                width: 650px;
                font-size: 60px;
                margin-bottom: 30px;
            }
        }

        .unitSwitch {
            top: 65px;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        .weather {
            .current_data {
                h2#current_temp {
                    font-size: 8em;
                }

                ul.useful_data {
                    margin: 1.6em 0;
                    li {
                        font-size: 1.2em;
                    }
                }

            }
        }
    }
}

@media only screen and (max-height: 900px),
screen and (max-width: 1050px) {
    .container {
        .weather {
            h1#city {
                font-size: 2.5em;
            }

            h2#date {
                font-size: 2em;
            }

            h3#current {
                font-size: 1.5em;
            }
        }
    }
}

@media only screen and (max-height: 800px),
screen and (max-width: 1150px) {
    .container {
        .weather {
            h1#city {
                font-size: 2.5em;
            }

            i.back-arrow {
                margin: 3px;
            }

            h2#date {
                font-size: 2em;
                margin: 0;
            }

            h3#current {
                font-size: 1.5em;
                margin: 0;
            }

            .current_data {
                h2#current_temp {
                    font-size: 6em;
                }

                ul.useful_data {
                    margin: 0;

                    li {
                        font-size: 1.2em;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        .weather {
            .current_data {
                h2#current_temp {
                    i {
                        margin: 0 10px;
                    }
                }

                ul.useful_data {
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px),
screen and (max-height: 700px) {
    body {
        background-color: white;
        background-image: none;
    }

    .container {
        height: 100%;
        width: 100%;
        padding: 0;
        box-shadow: none;
        background: none;

        .location {
            padding: 15px;
        }

        .weather {
            padding: 15px;
        }
    }

    .unitSwitch {
        margin-right: 15px;
        top: 32px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        .location {
            input.city {
                width: 250px;
            }
        }

        .weather {
            h2#date {
                font-size: 1.5em;
                margin: 0;
            }

            h3#current {
                font-size: 1em;
                margin: 0;
            }

            .current_data {
                h2#current_temp {
                    font-size: 5em;
                    width: 100%;
                }

                ul.useful_data {
                    margin: 0;

                    li {
                        font-size: 1.2em;
                    }
                }

            }

            ul.day {
                display: block;
                width: 180px;

                li {
                    color: $darkGray;
                    width: 100%;

                    :first-child {
                        float: left;
                        margin-top: 0;
                        font-weight: bold;
                    }

                    :last-child {
                        position: absolute;
                        margin-top: 25px;
                    }

                    i {
                        font-size: 3.5em;
                        float: right;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .container {
        .location {
            input.city {
                width: 200px;
            }
        }

        .weather {
            h1#city {
                display: block;
                margin: 0;
            }

            .current_data {
                h2#current_temp {
                    font-size: 4em;
                }

            }
        }

        .unitSwitch {
            top: 24px;
        }
    }
}