$darkGray: #4f6570;

.unitSwitch {
    position: absolute;
    display: inline-block;
    width: 6em;
    right: 0;
    top: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.unitSwitch-checkbox {
    display: none;
}

.unitSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $darkGray;
    border-radius: 36px;
}

.unitSwitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.unitSwitch-inner:before,
.unitSwitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 1.5em;
    padding: 0;
    line-height: 1.5em;
    font-size: 1em;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.unitSwitch-inner:before {
    content: "°C";
    padding-left: 1.7em;
    background-color: #FFFFFF;
    color: $darkGray;
}

.unitSwitch-inner:after {
    content: "°F";
    padding-right: 1.7em;
    background-color: #FFFFFF;
    color: $darkGray;
    text-align: right;
}

.unitSwitch-switch {
    display: block;
    width: 1.9em;
    margin: 2px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    border: 1px solid $darkGray;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}

.unitSwitch-checkbox:checked+.unitSwitch-label .unitSwitch-inner {
    margin-left: 0;
}

.unitSwitch-checkbox:checked+.unitSwitch-label .unitSwitch-switch {
    right: 0px;
}